extends layout

block body
    header
        ul
            li
                a(href='#/login') login
            li
                a(href='#') logout
            li
                a(href='#/game/home') game rooms
    ng-view
    script(src='game/js/lib/JQuery/JQuery.js')
    script(src='game/js/lib/angular/angular.js')
    script(src='game/js/lib/angular/angular-resource.js')
    script(src='game/js/lib/socket.io/socket.io.js')
    script(src='game/js/app.js')
    script(src='game/js/services/grid-service.js')
    script(src='game/js/services/socket-service.js')
    script(src='game/js/services/battle-service.js')
    script(src='game/js/controllers/main-controller.js')
    script(src='game/js/controllers/home-controller.js')
    script(src='game/js/controllers/game-controller.js')
    script(src='game/js/controllers/login-controller.js')
    script(src='game/js/controllers/playerGrid-controller.js')
    script(src='game/js/controllers/fireField-controller.js')
    script(src='game/js/controllers/rooms-controller.js')
    script(src='game/js/controllers/error-controller.js')
    script(src='game/js/directives/cell-directive.js')
    script(src='game/js/directives/chat-directive.js')
