!!!
html(ng-app="app")
  head
    meta(charset='utf8')
    base(href='/')
    title BattleShip game
    link(rel='stylesheet', href='/css/mainStyle.css')
  body(ng-controller="mainCtrl")
    block body