!!!
html(ng-app="app")
  head
    meta(charset='utf8')
    base(href='/')
    title BattleShip game
    link(rel='stylesheet/less', href='game/css/mainStyle.less')
    script(src='/game/js/lib/LESS/less.js')
  body(ng-controller='mainCtrl')
    div#overlay(ng-show='showOverlay')
      div#modal
        p game is over...
        button(ng-click='toggleOverlay()') go back
    block body